body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50vh !important;
  min-height: 100vh !important;
  min-width: 0 !important;
  width: 100vw !important;

  background: rgba(210, 210, 210, 0.75) linear-gradient(rgba(255, 255, 255, 0.85), transparent) no-repeat !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
